/* Graficos */

#myChart {
  font-family: "Poppins", sans-serif;
  display: block !important;
  box-sizing: border-box !important;
  height: 340px !important;
  width: auto !important;
  position: relative;
  left: 22%;
  top: 195px;
}


/* Legenda */

.tabela-legenda {
  font-family: "Poppins", sans-serif;
  display: flex;
  border: 1px solid black;
  font-family: Arial, sans-serif;
  text-align: center;
  height: 80px;
  position: relative;
  top: 658px;
  font-size: 13px;
  width: 75%;
  left: 358px;
}


.coluna {
  font-family: "Poppins", sans-serif;
  width: 30px;
  flex: 1;
  padding: 10px;
  color: white;
  border-left: 1px solid black;
}

.coluna:first-child {
  border-left: none;
}

.cor1 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: #47D359;
  color: black;
}

.cor2 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: #FFFF00;
  color: black;
}

.cor3 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: #ff8c00;
  color: black;
}

.cor4 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: #FF0000;
  color: black;
}

.cor5 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: #8b008b;
  color: black;
}

/* KPI */

.KPI1 {
  font-family: "Poppins", sans-serif;
  background-color: white;
  border: 2px solid;
  position: absolute;
  width: auto;
  height: auto;
  left: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 143px;
  font-size: 100%;
  text-align: center;
  font-weight: bold;
  padding: 1%;
}

.KPI2 {
  font-family: "Poppins", sans-serif;
  background-color: white;
  border: 2px solid;
  position: absolute;
  width: auto;
  height: auto;
  left: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 143px;
  font-size: 100%;
  text-align: center;
  font-weight: bold;
  padding: 1%;
}

.KPI3 {
  font-family: "Poppins", sans-serif;
  background-color: white;
  border: 2px solid;
  position: absolute;
  width: auto;
  height: auto;
  left: 66%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 143px;
  font-size: 100%;
  text-align: center;
  font-weight: bold;
  padding: 1%;
}

.KPI4 {
  font-family: "Poppins", sans-serif;
  background-color: white;
  border: 2px solid;
  position: absolute;
  width: auto;
  height: auto;
  left: 82%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 143px;
  font-size: 100%;
  text-align: center;
  font-weight: bold;
  padding: 1%;
}