/* Graficos */

#myChart {
    font-family: "Poppins", sans-serif;
    display: block !important;
    box-sizing: border-box !important;
    height: 340px !important;
    width: auto !important;
    position: relative;
    left: 22%;
    top: 263px;
}


/* Legenda */

.tabela-legenda {
    font-family: "Poppins", sans-serif;
    display: flex;
    border: 1px solid black;
    font-family: Arial, sans-serif;
    text-align: center;
    height: auto;
    position: absolute;
    top: 83%;
    font-size: 13px;
    width: 78%;
    left: 330px;
}

.coluna {
    font-family: "Poppins", sans-serif;
    width: 30px;
    flex: 1;
    padding: 10px;
    color: black;
    border-left: 1px solid black;
}

.coluna:first-child {
    border-left: none;
}

.cor1 {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    background-color: #FF0000;
}

.cor2 {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    background-color: #FFFF00;
    color: black;
}

.cor3 {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    background-color: #47D359;
    color: black;
}

.cor4 {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    background-color: #FFFF00;
    color: black;
}

.cor5 {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    background-color: #FF0000;
    color: black;
}


/* KPI */

.KPISensor1 {
    font-family: "Poppins", sans-serif;
    background-color: white;
    position: absolute;
    width: auto;
    height: auto;
    left: 30.5%;
    top: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-weight: bold;
    border: 2px solid;
    padding: 1%;
    text-align: center;
}

.KPISensor2 {
    font-family: "Poppins", sans-serif;
    background-color: white;
    position: absolute;
    width: auto;
    height: auto;
    left: 55%;
    top: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-weight: bold;
    border: 2px solid;
    padding: 1%;
    text-align: center;
}



.KPISensor3 {
    font-family: "Poppins", sans-serif;
    background-color: white;
    position: absolute;
    width: auto;
    height: auto;
    left: 80%;
    top: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-weight: bold;
    border: 2px solid;
    padding: 1%;
    text-align: center;
}

