.div_geral_equipe {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    /* centraliza verticalmente */
    justify-content: center;
    /* centraliza horizontalmente */
}

.imagem_equipe {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem_equipe img {
    width: 60vw;
    height: auto;

}