a {
    text-decoration: none;
    color: inherit;
    display: contents;
    all: unset;
    transition: 0.5s;
}

header {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    margin: 0;
    align-items: center;
}

header div {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_header_central {
    color: white;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.transição_header {
    font-size: 20px;
    transition: 1s;
    cursor: pointer;
}

.transição_header:hover {
    color: #fd8b00;
    text-decoration: underline;
    transform: scale(1.1);
}

img {
    width: 140px;
    height: auto;
}

.img_logoHeader {
    width: auto;
    height: 100%;
}

.bt_header {
    border-radius: 5px;
    width: 230px;
    margin: 5px;
}

.bt_Cad {
    width: 100px;
    height: 40px;
    opacity: 1;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    background: #fd8b00;
    color: white;
    transition: 1s;
}

.bt_Cad:hover {
    transform: scale(1.1);
}

.bt_Log {
    width: 100px;
    color: #fd8b00;
    height: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: 1s;
}

.bt_Log:hover {
    transform: scale(1.1);
}

#div_botao button {
    width: 310px;
    align-self: right;
    height: 50px;
    background-color: #FFA40B;
    border: solid 1px black;
    border-radius: 8px;
    border: none;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    transition: 0.5s;
}

#div_botao button:hover {
    transition: 0.5s;
    scale: 1.05;
    border: solid 1px black;
}

#div_botao button:active {
    transition: 0.1s;
    background-color: black;
    color: #FFA40B;
}

.coluna_hexa {
    display: flex;
    flex-direction: row;

    /* justify-content: center;
    align-items: center; */
}

.div_pt1 {
    background-image: url(../img/imgFundo.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.div_geral {
    background-color: #ff83162f;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.div_logo {
    display: flex;
    align-items: center;
    margin-top: 20%;
}

.div_logo span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.28px;
}

.div_frase_central {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0%;
    width: 50%;
    height: 100%;
}

.nome_empresa {
    font-size: 20vh;
}

.span_abaixo {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 5vh;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    /* 130% */
}

.div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 100%;
}

.style_texto {
    text-align: center;
    /* Subheading */
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.texto_2_central {
    color: white;
    font-family: Inter;
    font-size: 3.5vh;
    font-style: normal;
    font-weight: 200;
    line-height: 150%;
}

.Botao_central {
    font-size: 20px;
    font-weight: 700;
    width: 265px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    background: #E98800;
}

.header_2 {
    background-color: transparent;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
}

.header_3 {
    width: 100%;
    text-align: center;
    color: #FFF;
    font-family: Poppins;
    font-size: 8vh;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.como_tmp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div_cons_temp {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.textos_como_temp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colunas_temp {
    width: 251.451px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid rgba(233, 136, 0, 0.30);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%), #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.img_hexa {
    width: auto;
    height: 600px;
}

.icone {
    width: auto;
    height: 100px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    margin-top: 30px;
    margin-bottom: 10px;
}

.div_texto_cons {
    margin-top: 15px;
    width: 193px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 275;
    line-height: 25px;
    /* 125% */
    letter-spacing: 0.4px;
}

.div_pt3 {
    border-top: solid 12px black;
    border-bottom: solid 12px black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/wallpaper_abelha.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.div_txt_quadro3 {
    width: 100%;
    padding: 3%;
    color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.30);
    font-family: Montserrat;
    font-size: 5vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.div_reatngulos_quadro3 {
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.div_retangulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 271px;
    height: 404px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 2px solid rgba(255, 240, 240, 0.58);
    background: #E98800;
    padding: 1%;
}

.img_retangulo {
    width: auto;
    height: 110px;

}

.frase_retangulo {
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.frase2_retangulo {
    width: 230.134px;
    height: 64.828px;
    flex-shrink: 0;
    color: black;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.div_pt4 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.col .header_4 {
    text-align: center;
    width: 100%;
    color: #E98800;
    font-family: Montserrat;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
}

.div_cm_fun {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
}

.div_tabela4 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.div_colnuas_4 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 548px;
    height: 101.403px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.70);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 15px;
}

.titulo_col_4 {
    margin-left: 15px;
    color: #190500;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.30);
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.txt_col_4 {
    margin-left: 15px;
    color: #190500;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.30);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 275;
    line-height: normal;
}

.div_img_4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_comofunfa {
    width: 610px;
    height: auto;
}

/* Footer */
.footer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: white;
    padding: 5%;
}

/* .Mapa-site {
    margin-right: 1%;


} */

.Copyright {

    margin-right: 327px;
}

.logo-beeaware {
    margin-right: 400px;

}

.brasil {
    margin-right: 200px;


}  

.redes-sociais h3 {
    font-weight: 700;

}

.contato h3 {
    font-weight: 700;
}

.campo h3 {
    font-weight: 700;
}


.container-footer-top {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-bottom: 50px;
}

.container-footer-top .contato span,
.container-footer-top .campo span,
.container-footer-top .redes-sociais span {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 400;
    gap: 8px;
    cursor: pointer;
}


.container-footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
   
    
}


.container-footer-bottom span {
    display: flex;
    gap: 8px;
    font-weight: 400;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer p {
    font-weight: 400;
}

.footer img {

    height: 20px;
    width: 20px;
}

.logo-beeaware img {
    height: 90px;
    width: 135px;
    margin-left: 30px;
}