@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Barlow",'Courier New', Courier, monospace;
}

body{
    background-color: black;
    margin: 0px;
}
.header{
    border-bottom: solid aqua;
}
.header .container .titulo{
    color: aqua;
} 
.container .navbar{
    list-style-type: none;
    color: aquamarine;
    display:flex;
    width: 350px;
    justify-content: space-around;
}
.navbar a {
    color: white;
    text-decoration: none;
    
}
.container{
    display: flex;
    margin: auto;
    width: 80%;
}
.header .container{
    justify-content: space-between;
align-items:center;
}
/* BANNER */
.banner{
    background-image: url(../assets/imgs/bg-jelly-fish-para-home.png);
    height: 500px;
    color: white;
}
.banner .container{
    width: 500px;
    height: 100%;
    align-items:center;
    
}
.banner .container p{
    font-size: 54px
}
.banner .container p span{
  font-weight: 800;
}

/*Social */
.social{
    background:white;
}

.box img{
    width: 100px;
}
.boxes{
    width: 100%;
    padding: 20px 0px;

    display: flex;
    justify-content: space-evenly;
}
.box{
    display: flex;
    flex-direction: column;
    align-items:center ;
}
.box p{
    text-align: center;
}
.box h4{
    color: crimson;
    font-weight: 900;
}


/*FOOTER*/
.footer{
    background:darkcyan;
}
.footer .container{
    justify-content: center;
    color: white;

    height: 50px;
}
.agora {
    font-weight: 900;
    border-bottom:white 
    solid 2px;

}
.login .container{
    background-image: url(../assets/imgs/bg-jelly-fish-para-home.png);
    height: 500px;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;

}
.login .container .card{
    width: 450px;
    height: auto;

    background-color: rgb(177, 177, 177);
    justify-items: center;
    border-radius: 10px;

}
.card{
    color: red;
    text-align: center;  
}
.formulario .campo{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 3%;
    width: 80%;
    
}
.formulario {
    width: 100%;
    justify-items: center;
    margin: 10px;
    
}
.campo span{
    align-self: flex-start;
}
input{
    border: 2px solid aquamarine;
    height: 25px;
    border-radius: 5px;
    text-align: center;
}
 .botao{
    color: white;
    background-color: crimson;
    width: 100px;
    border-radius: 5PX;
    border: 0;
}
